{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "$": true,
    "CONFIG": true,
    "CURRENT_MAP": true,
    "CURRENT_TERRAIN_SPRITE": true,
    "DSP_Mob": true,
    "DSP_Object": true,
    "DSP_Player": true,
    "DSP_Sprite": true,
    "DSP_StaticObject": true,
    "EXTRA_RESOURCES": true,
    "MAPS": true,
    "Q": true,
    "SPRITE_DEFINITIONS": true,
    "TERRAIN_TILES": true,
    "canvas": true,
    "collisionableObjects": true,
    "controls": true,
    "ctx": true,
    "fps": true,
    "gameObjects": true,
    "initGame": true,
    "inputAction": true,
    "loadConfig": true,
    "loadExtraResources": true,
    "loadMaps": true,
    "loadSprite": true,
    "loadSpriteDefinitions": true,
    "modifier": true,
    "player": true,
    "playerOriginalX": true,
    "playerOriginalY": true,
    "render": true,
    "reset": true,
    "terrainLoaded": true,
    "update": true,
    "utils": true
  }
}
